node_modules
out
dist
*.tgz
coverage
*.lcov
logs
*.log
report.[0-9]*.json

.env
.env.*.local
.env.local

config.ini

db.sqlite
db.sqlite-shm
db.sqlite-wal

.eslintcache
.cache
*.tsbuildinfo
.idea
.vscode
.DS_Store
.serena
.pmcp
.claude
